# Backend Server Configuration
PORT=5000
NODE_ENV=production

# MongoDB Database URI (MongoDB Atlas for Vercel)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/typerush?retryWrites=true&w=majority

# JWT Authentication Secret
JWT_SECRET=super_secret_jwt_key_type_rush_2026

# Public Vercel Frontend Client URLs (For CORS & Dynamic QR Generation)
CLIENT_STUDENT_URL=https://typing-student.vercel.app
CLIENT_ADMIN_URL=https://typing-admin.vercel.app
